name: CI

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6

      - uses: DeterminateSystems/nix-installer-action@main

      - uses: DeterminateSystems/magic-nix-cache-action@main

      - name: Get dependencies
        run: nix develop -c mix deps.get

      - name: Compile
        run: nix develop -c mix compile --warnings-as-errors

      - name: Run tests
        run: nix develop -c mix test

      - name: Check formatting
        run: nix develop -c mix format --check-formatted

      - name: Run Credo
        run: nix develop -c mix credo
