name: Release

on:
  push:
    tags:
      - 'v*'

jobs:
  publish:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - uses: systemic-engineer/ci/actions/nix-setup@main

      - uses: systemic-engineer/ci/actions/hex-publish@main
        with:
          hex-api-key: ${{ secrets.HEX_API_KEY }}
